* {
    font-family: outfit;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.hidden{
    display: none;
}

/* navbar */
nav{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: white;
}

.navLogo{
    flex-basis: 30%;
    text-align: center;
}

.navLogo h3{
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}

.navBar{
    flex-basis: 70%;
    text-align: center;
}

.navBar ul li{
    display: inline-block;
    cursor: pointer;
    padding: 0 20px;
}

.navBar ul li a{
    text-decoration: none;
    color: #222;
}

.navBar ul li a:hover{
    color: #228B22;
    transition: 0.3s;
}

.navLogo h3:hover{
    color: #228B22;
    transition: 0.5s;
}

.navBar ul i{
    cursor: pointer;
}

.navBar ul i:hover{
    color: #228B22;
    transition: 0.3s;
}

/* humburger menu */
.humbNav{
    display: none;
}

.MnavContainer{
    display: flex;
    margin: 20px 20px;
    align-items: center;
}

.MnavLogo{
    flex-basis: 50%;
}

.MnavLogo h3{
    font-weight: 400;
    font-size: 2.5rem;
    color: #222;
}

.humb{
    flex-basis: 50%;
    font-size: 2.5rem;
    color: #222;
    text-align: end;
}

.humb h3{
    display: inline-block;
}

.mbx{
    font-size: 1.8rem;
    display: inline-block;
    padding-right: 30px;
}

.MnavBar{
    width: 100%;
    height: 100%;
    padding: 100px;
    position: fixed;
    left: 700px;
    background-color: #228B22;
    z-index: 2;
}

.MnavBar ul li{
    cursor: pointer;
    padding: 0 20px;
    list-style-type: none;
    padding: 15px 0;
}

.MnavBar ul li a{
    text-decoration: none;
    color: #222;
}

.MnavBar ul li a:hover{
    color: #228B22;
    transition: 0.3s;
}

.MnavLogo h3:hover{
    color: #228B22;
    transition: 0.5s;
}

.MnavBar ul i{
    cursor: pointer;
}

.MnavBar ul i:hover{
    color: #228B22;
    transition: 0.3s;
}

/* banner */
.banner{
    display: flex;
    align-items: center;
    padding: 100px 200px 50px;
}

.bannerText{
    flex-basis: 50%;
}

.bannerText h1{
    font-size: 4rem;
    color: #228B22;
    padding-bottom: 20px;
}

.bannerText h3{
    font-size: 3rem;
    font-weight: 500;
    padding-bottom: 30px;
    color: #222;
}

.btn button{
    padding: 15px 20px;
    border: #228B22 2px solid;
    border-radius: 5px;
    background-color: #228B22;
    color: white;
    cursor: pointer;
    font-size: 0.9rem;
}

.btn button:hover{
    border: #228B22 2px solid;
    background-color: transparent;
    color: #222;
    transition: 0.8s;
}

.bannerImg{
    flex-basis: 50%;
}

.bannerImg img {
    background-position: center;
    background-size: cover;
    text-align: center;
    width: 450px;
}

/* About us */
#aboutUs{
    display: flex;
    align-items: center;
    margin: 50px 200px;
}

.aboutImg{
    flex-basis: 50%;
    padding: 30px;
}

.aboutImg img{
    width: 400px;
    border-radius: 10px;
}


.aboutText{
    flex-basis: 50%;
    padding: 30px;
}

.aboutText .aboutTitle{
    font-size: 1.2rem;
    color: #228B22;
    padding-bottom: 20px;
}

.aboutText h1{
    font-size: 3rem;
    padding-bottom: 30px;
    color: #222;
}

.aboutText span{
    color: #228B22;
}

.aboutText p{
    color: #333;
    padding-bottom: 40px;
}

/* services */
#services{
    text-align: center;
    padding: 50px 200px;
}

.servicesTitle p{
    color: #228B22;
    font-size: 1.2rem;
    padding-bottom: 10px;
}

.servicesTitle h1{
    font-size: 2.5rem;
    color: #222;
}

.servicesContainer{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    column-gap: 50px;
    margin-top: 50px;
    justify-items: center;
}

.servicesImg{
    fill: #228B22;
    width: 64px;
    height: 64px;
    margin-bottom: 20px;
}

.servicesh1{
    color: #222;
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.servicesp{
    padding: 0 10px;
}

/* menu */
#menu{
    padding: 50px 200px;
}

.menuText p{
    color: #228B22;
    font-size: 1.2rem;
    padding-bottom: 10px;
    text-align: center;
}

.menuText h1{
    font-size: 2.5rem;
    color: #222;
    text-align: center;
}

.menuContainer{
    display: grid;
    grid-template-columns: repeat(3 , 300px);
    gap: 30px;
    justify-content: space-around;
    margin: 50px 80px;
}

.menuBox{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
    padding: 50px 0px 0;
    cursor: pointer;
}

.menuBox:hover{
    box-shadow: 0 3px 10px rgb(34 139 34 / 0.8);
    transition: 0.8s;
}

.menuImg{
    padding: 0 50px 20px;
}

.menuh3{
    color: #222;
    padding: 0 20px;
    font-size: 1.5rem;
}

.menup{
    color: rgba(34, 34, 34, 0.836);
    padding: 0 20px;
    font-size: 1.2rem;
}

.menuprice{
    color: #222;
    padding: 5px 20px;
}

.menuBtn{
    text-align: end;
}

.menuBtn button{
    padding: 10px 15px;
    border-radius: 10px 0 10px 0;
}

/* app */
#app{
    display: flex;
    align-items: center;
    margin: 50px 200px;
}

.appImg{
    flex-basis: 50%;
}

.appImg img{
    width: 500px;
}

.appText{
    flex-basis: 50%;
}

.appText .appTitle{
    color: #228B22;
    font-size: 1.2rem;
    padding-bottom: 10px;
}

.appText h1{
    font-size: 2.5rem;
    color: #222;
    padding: 20px 0;
}

.appText p{
    color: #333;
    padding-bottom: 40px;
}

.appText .store{
    display: inline-block;
}

.store img{
    width: 200px;
    padding-left: 10px;
}

/* contact */
#contact{
    display: flex;
    align-items: center;
    margin: 50px 200px;
}

.contactText{
    flex-basis: 60%;
}

.contactText .contactTitle{
    color: #228B22;
    font-size: 1.2rem;
}

.contactText h1{
    font-size: 2.5rem;
    color: #222;
    padding: 10px 0 20px;
}

.contactText p{
    color: #333;
}

#contact .btn{
    flex-basis: 40%;
    text-align: center;
}

#contact .btn button{
    padding: 15px 30px;
    font-size: 1.1rem;
}

/* footer */
#footer{
    display: flex;
    margin: 100px 200px 0;
}

.footerSocials{
    flex-basis: 25%;
}

.footerSocials h3{
    color: #228B22;
    font-size: 1.5rem;
}

.footerSocials p{
    font-size: 1.1rem;
    color: rgba(34, 34, 34, 0.712);
    padding: 10px 0;
}

.footerSocials .social .bx{
    padding-right: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

.footerSocials .social .bx:hover{
    color: #228B22;
    transition: 0.5s;
}

.footerServices{
    flex-basis: 25%;
}

.footerInformation{
    flex-basis: 25%;
}

.footerAdress{
    flex-basis: 25%;
}

.footerTitle{
    font-size: 1.5rem;
    color: #222;
}

.footerLinks{
    font-size: 1.1rem;
    color: rgba(34, 34, 34, 0.712);
    padding: 3px 0;
    cursor: pointer;
}

.footerLinks:hover{
    color: #228B22;
    transition: 1s;
}

/* fixed btn */
.fixedBtn{
    text-align: end;
    z-index: 1;
    overflow: hidden;
}

.fixedBtn button{
    background-color: #228B22;
    border: #228B22 2px solid;
    border-radius: 3px;
    margin: 0 100px 30px;
}

.fixedBtn button a{
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}

.fixedBtn button a i{
    padding: 5px 5px;
}

/* monitor */
@media screen and (min-width: 1001px) and (max-width: 1230px){
    /* banner */
    .banner{
        padding: 100px 100px 50px;
    }

    #aboutUs , #app , #contact , #footer{
        margin: 50px 100px;
    }

    /* services */
    #services , #menu{
        padding: 50px 100px;
    }

}

/* for laptop */
@media screen and (min-width: 761px) and (max-width: 1000px){

    .banner{
        padding: 100px 80px 50px;
    }

    #aboutUs , #app , #contact{
        margin: 50px 80px;
    }

    /* services */
    #services{
        padding: 50px 80px;
    }

    /* banner */
    .bannerText h1{
        font-size: 2rem;
    }

    .bannerText h3{
        font-size: 1.5rem;
    }

    .btn button{
        padding: 10px 15px;
        font-size: 0.6rem;
    }

    .bannerImg img {
        width: 350px;
    }

    /* about */
    .aboutImg{
        padding: 15px;
    }

    .aboutImg img{
        width: 250px;
    }

    .aboutText h1{
        font-size: 1.5rem;
    }

    /* services */
    .servicesTitle h1{
        font-size: 1.5rem;
    }

    .servicesContainer{
        column-gap: 30px;
    }

    .servicesh1{
        font-size: 1.2rem;
    }

    .servicesp{
        font-size: 0.7rem;
    }

    /* menu */
    #menu{
        padding: 50px 50px;
    }

    .menuText h1{
        font-size: 1.5rem;
    }

    .menuContainer{
        grid-template-columns: repeat(3 , 200px);
        column-gap: 30px;
        margin: 20px 80px;
    }

    .menuBox{
        padding: 0;
    }
    
    .menuImg{
        padding: 20px 20px;
        width: 200px;
    }
    
    .menuh3{
        font-size: 1.2rem;
    }
    
    .menup{
        display: none;
    }

    /* app */
    .appImg img{
        width: 300px;
    }

    .appText h1{
        font-size: 1.5rem;
    }

    .store img{
        width: 120px;
    }
    
    /* contact */
    .contactText h1{
        font-size: 1.5rem;
        padding: 5px 0 10px;
    }

    #contact .btn button{
        padding: 10px 20px;
        font-size: 0.9rem;
    }

    /* footer */
    #footer{
        margin: 100px 50px 0;
    }

    .footerSocials h3{
        font-size: 1.3rem;
    }

    .footerSocials p{
        font-size: 1rem;
    }

    .footerSocials .social .bx{
        font-size: 1.1rem;
    }

    .footerTitle{
        font-size: 1.3rem;
    }

    .footerLinks{
        font-size: 1rem;
    }
    
    .fixedBtn button{
        margin: 5px 30px 15px;
    }

}

/* for mobile and tab */
@media screen and (max-width: 760px){
    
    nav{
        display: none;
    }

    .humbNav{
        display: none;
    }

    /* banner */
    .banner{
        padding: 100px 30px 50px;
    }

    .bannerText h1{
        font-size: 1.5rem;
    }
    
    .bannerText h3{
        font-size: 1rem;
        font-weight: 400;
    }

    .btn button{
        padding: 5px 10px;
        font-size: 0.5rem;
    }

    .bannerImg{
        text-align: center;
    }

    .bannerImg img {
        width: 100px;
    }

    /* about */
    #aboutUs{
        margin: 30px;
    }

    .aboutImg{
        padding: 5px;
        text-align: center;
    }

    .aboutImg img{
        width: 100px;
    }

    .aboutText .aboutTitle{
        font-size: 0.8rem;
        padding-bottom: 10px;
    }

    .aboutText{
        padding: 5px;
    }

    .aboutText h1{
        font-size: 1rem;
        padding-bottom: 10px;
    }

    .aboutText p{
        font-size: 0.5rem;
        padding-bottom: 20px;
    }

    /* services */
    #services{
        padding: 30px;
    }

    .servicesTitle p{
        font-size: 0.8rem;
        padding-bottom: 5px;
    }

    .servicesTitle h1{
        font-size: 1rem;
    }

    .servicesContainer{
        grid-template-columns: repeat(1 , 1fr);
        row-gap: 30px;
        margin-top: 40px;
    }

    .servicesh1{
        font-size: 1rem;
    }

    .servicesp{
        font-size: 0.6rem;
        font-weight: 300;
    }

    /* menu */
    #menu{
        padding: 30px;
    }

    .menuText p{
        font-size: 0.8rem;
        padding-bottom: 5px;
    }

    .menuText h1{
        font-size: 1.2rem;
    }

    .menuContainer{
        grid-template-columns: repeat(1 , 150px);
        row-gap: 30px;
        margin: 20px 80px;
    }

    .menuBox{
        padding: 0;
    }
    
    .menuImg{
        padding: 15px;
        width: 150px;
    }
    
    .menuh3{
        font-size: 0.8rem;
    }

    .menuprice{
        font-size: 0.8rem;
    }
    
    .menup{
        display: none;
    }

    .menuBtn button{
        padding: 10px 15px;
    }

    .menuBtn button i{
        font-size: 0.8rem;
    }

    /* app */
    #app{
        margin: 30px;
    }

    .appImg img{
        width: 150px;
    }

    .appText .appTitle{
        font-size: 0.8rem;
        padding-bottom: 5px;
    }
    

    .appText h1{
        font-size: 1rem;
        padding: 10px 0;
    }

    .appText p{
        padding-bottom: 20px;
        font-size: 0.5rem;
    }

    .store img{
        width: 60px;
        padding-left: 5px;
    }
    
    /* contact */
    #contact{
        margin: 30px;
    }

    .contactText .contactTitle{
        font-size: 0.8rem;
    }

    .contactText h1{
        font-size: 1rem;
        padding: 5px 0 10px;
    }

    .contactText p{
        font-size: 0.5rem;
    }

    #contact .btn button{
        padding: 5px 10px;
        font-size: 0.4rem;
    }

    /* footer */
    #footer{
        margin: 30px 30px 0;
    }

    .footerSocials h3{
        font-size: 0.5rem;
    }

    .footerSocials p{
        font-size: 0.4rem;
        padding: 5px 0;
    }

    .footerSocials .social .bx{
        font-size: 0.4rem;
        padding-right: 5px;
    }

    .footerTitle{
        font-size: 0.4rem;
    }

    .footerLinks{
        font-size: 0.4rem;
    }
    
    .fixedBtn button{
        margin: 5px 30px 15px;
    }

    .fixedBtn button a{
        text-decoration: none;
        font-size: 0.5rem;
        color: white;
    }

    .fixedBtn button a i{
        padding: 2px 4px;
    }

}